.Controller {
	position: absolute;
	top: 70px;
	z-index: 2;
}

.Controller__ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.Controller__li {
	padding: 2px;
}

.Controller__li:hover {
	background-color: rgba(0,0,0,0.1);
}

.Controller__img {
	height: 20px;
	width: 20px;
}