.GraphicCategoryItem {

}

.GraphicCategoryItem__circle {
	display: none;
	width: 175px;
	height: 175px;
	margin: 0px 10px;
}

.GraphicCategoryItem__circle-description {
	display: none;
	padding-top: 10px;
	text-align: center;
	color: white;
}


.GraphicCategoryItem__circle-img {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 150px;
	border: 2px solid rgba(0,0,0,0.4);
	-webkit-transition: width 0.2s linear; /* Safari */
}

.GraphicCategoryItem__circle-img:hover {
	border: 0;
}

.GraphicCategoryItem__circle-name {
	position: relative;
	z-index: 1;
 	text-align: center;
 	top:-55%;
 	transform: translateY(-50%);
 	text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
 	font-size: 1.0em;
 	font-weight: bold;
 	line-height: 1.6;
 	pointer-events: none;
 	color: white;
 	font-family: serif;
}

.GraphicCategoryItem__bar {
	display: flex;
	align-items: center;
	width: 100%;
	border-bottom: 2px solid rgba(0,0,0,0.4);
	height: 50px;
	padding: 5px 5px 5px 20px;
}

.GraphicCategoryItem__bar:hover {
	background-color: rgba(0,0,0,0.15);
}

.GraphicCategoryItem__bar-img {
	width: 40px;
	height: 40px;
	border-radius: 40px;
}

.GraphicCategoryItem__bar-name {
	margin-left: 10px;
	font-size: 1.0em;
	color: #DFDCE3;
}

.GraphicCategoryItem__bar-description {
	margin-left: 10px;
	font-size: 0.9em;
	color: #DFDCE3;
}

@media only screen and (min-width: 768px) {

	.GraphicCategoryItem__circle {
		display: block;
	}

	.GraphicCategoryItem__circle-description {
		display: block;
	}

	.GraphicCategoryItem__bar {
		display: none;
	}
}

@media only screen and (min-width: 1080px) {

	.GraphicCagetoryItem__circle {
		width: 150px;
		height: 150px;
	}

	.GraphicCategoryItem__circle-name {
		font-size: 1.2em;
	}
}