.GraphicVision {
  background-color: #F7B733;
  min-height: calc(100vh - 70px);
}

.GraphicVision__graphic {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.GraphicVision__canvas {
  position: absolute;
  z-index: 2;
}

.GraphicVision__circle {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 250px;
	height: 250px;
	border-radius: 255px;
	z-index: 1;
	cursor: default;
}

.GraphicVision__circle-img {
	position: absolute;
	width: 250px;
	height: 250px;
	border-radius: 250px;
  z-index: 1;
}

.GraphicVision__circle-text {
	position: absolute;
  padding: 0px 10px;
	font-size: 1.5em;
  z-index: 1; 
  text-align: center;
  line-height: 1.2;
}

.GraphicVision__bar {
  display: block;
}

.GraphicVision__header {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 3px solid rgba(0,0,0,0.4);
  height: 60px;
  padding: 5px;
}

.GraphicVision__header-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.GraphicVision__header-text {
  margin-left: 10px;
  font-size: 1.2em;
  color: white;
}

@media only screen and (min-width: 768px) {

  .GraphicVision__graphic {
    display: flex;
  }

  .GraphicVision__bar {
    display: none;
  }
}