.GraphicCategory {
}

.GraphicCategory__circle {
	display: none;
	margin-bottom: 20px;
}

.GraphicCategory__bar {
	display: block;
}


.GraphicCategory__circle-header {
	padding: 10px 0px;
	font-size: 1.5em;
	color: white;
	text-align: center;
	font-family: 'Bree Serif', serif;
}

.GraphicCategory__circle-items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.GraphicCategory__bar-header {
	display: flex;
	align-items: center;
	width: 100%;
	border-bottom: 3px solid rgba(0,0,0,0.4);
	height: 60px;
	padding: 5px;
}

.GraphicCategory__bar-img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.GraphicCategory__bar-text {
	margin-left: 10px;
	font-size: 1.2em;
	color: white;
}

@media only screen and (min-width: 768px) {

	.GraphicCategory__circle {
		display: block;
	}

	.GraphicCategory__bar {
		display: none;
	}
}