.Header {

}

.Header__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 1;
	padding: 0px 20px;
	height: 70px;
	border: 1px solid rgba(0,0,0,0.2);
}

.Header-nav__title {
	font-family: 'Bree Serif', serif;
	font-size: 1.3em;
	color: white;

}

.Header-nav__ul {
}

.Header-nav__li {
	display: inline-block;
	padding: 0px 5px;
}

.Header-nav__left {
	display: block;
}

.Header-nav__right {
	display: none;
}

.Header-nav__hidden {
	display: block;
}

.Header-nav__img {
	width: 25px;
	height: 25px;
}

.Header-nav__link-button {
	border: 0;
	background-color: transparent;
	color: #DFDCE3;
	font-size: 1em;
}

.Header-nav__link-button:focus{
	outline: 0;
}

.Header-nav__link-button:hover {
	color: rgba(255,255,255, 0.9);
}

.Header-nav__link-button:active {
	color: rgba(255,255,255,0.7);
}

.Header-nav__menu-button {
	border: 2px solid transparent;
	border-radius: 2px;
	transition: border 0.5s;
}

.Header-nav__menu-button:hover {
	border: 2px solid #DFDCE3;
}

@media only screen and (min-width: 768px) {
	.Header-nav__right {
		display: block;
	}

	.Header-nav__hidden {
		display: none;
	}
}