.Header__flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 1;
	padding: 0px 20px;
	height: 70px;
	border: 1px solid rgba(0,0,0,0.2);
}

.Header__ul {
	list-style-type: none;
}

.Header__hidden {
	display: block;
	background: transparent;
}

.Header__collapse {
	display: none;
}

.Header__title {
	font-family: 'Bree Serif', serif;
	font-size: 1.3em;
	color: white;

}

.Header__li {
	display: inline-block;
	padding-right: 10px;
}

.Header__button {
	border: 0;
	background-color: transparent;
	color: #DFDCE3;
	font-size: 1em;
	transition: color 0.25s;
}


.Header__button:focus{
	outline: 0;
}

.Header__button:hover {
	color: rgba(255,255,255, 0.9);
}

.Header__button:active {
	color: rgba(255,255,255,0.7);
}

.Header__icon {
	border: 2px solid transparent;
	border-radius: 2px;
	transition: border 0.5s;
}

.Header__icon:hover {
	border: 2px solid #DFDCE3;
}

@media only screen and (min-width: 768px) {

	.Header__collapse {
		display: block;
	}

	.Header__hidden {
		display: none;
	}
}