.Vision__img {
	max-width: 250px;
	max-height: auto;
}

.Vision__card {
}

.Vision__card:hover {
	background: rgba(0,0,0,0.1);
}


@media (max-width: 576px) {
	.Vision__img {
		max-width: 300px;
		padding-top: 20px;
	}
}