// Override default variables before the import
$body-bg: #005880;
$body-color: rgba(255,255,255,0.75);

$theme-colors: (
  "primary": #1D1B46,
  "tertiary": #1B3055,
  "secondary": #005880,
  "light": rgba(255,255,255,0.75),
  "very-light": rgba(255,255,255,0.9),
  "white": #FFFFFF,
  "black": #000000
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.bg--inherit {
	background-color: inherit;
}

#navbar-top {
	height: 56px;
}

.container {
	height: calc(100vh - 56px);
}