.Vision__img {
	width: 350px;
	height: 200px;
	object-fit: cover;
}

.Vision__card {
	border: 0;
	overflow: hidden;
}

.Vision__card:hover {
	background: rgba(255,255,255,0.85);
}

.Vision__description {
	font-size: 0.9rem;
}


@media (max-width: 576px) {
	.Vision__img {
		padding-top: 20px;
	}
}