.Vision__img {
	width: 450px;
	height: 200px;
	object-fit: cover;
}

.Vision__card {
	width: 450px;
	height: auto;
	margin: 20px 20px;
}

.Vision__card:hover {
	background-color: rgba(255,255,255,0.5);
}

.Vision__description {
	font-size: 0.9rem;
}


@media (max-width: 576px) {
	.Vision__card {
		margin: 20px 0px;
	}
}